<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>About ProperEducation Application</p>
      <p> At ProperEducation we value our clients time and business. As times change and shift into a more online way of life the importance to shift towards a unified online learning platform is necessary for students and instructors. At ProperEducation our goal is to do just that where we provide a safe and modern platform for students to not only learn the necessary skills required in the modern workforce, but also learn other skills outside their college majors and be able to succeed in the competitive workforce upon graduation. We listen to our clients and provide solutions based on what is best for them each client’s services are tailored to best benefit them and train them to the exceed the industry standard.</p>
  </body>
</html>
