<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Contact ProperEducation</p>
      <p> Contact Us: ProperEducation@gmail.com</p>
     
  </body>
</html>