<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <img src="/images/logo.jpg">

    <h1>ProperEducation</h1>
    <p>Welcome to Education Done the Right Way</p>
      <p> Choose your education plan and prepare to learn! </p>
      <p> Offering affordable education packages to enhance your skillsets and best prepare you for the real world! </p>
  </body>
</html>
